body{
    background: #111;
}
.classprev{
    background:transparent;
    border: none;
    outline: 0;
}
.classnext{
    background:transparent;
    border: none;
    outline: 0;
}
.carsol-custom{
    text-align: center;
}
.carsol-custom img{
    width:400px;
    height: 400px;
    border-radius: 50%;
}

.custombtn {
    position: absolute;
    right: 0px;
    top: 112px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.custombtn button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline:0;
    background:#fff;
    margin: 4px 4px;
    display: inline-block;
}